[class*="__container"]{
    max-width: 1170px;
    margin:0 auto;
}


body{
    font-family: 'Montserrat';
}

.info {
    margin-top: 50px;/*После добавления хедера убрать*/
}
.info__text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 113.9%;
    color: #2D2D2D;
}
.info__overalls {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 113.9%;
    color: #C4C4C4;
    margin-left:4px;
}
.info__container{
    display:flex;
}   

.buy__photo{
    display:grid;
    gap:5px;
}
.photik{
    display:inline;
}
