.nav__list {
    display: flex;
    margin-right: 44px;
    text-align: center;
    column-gap: 44px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}

.nav__list > li > a {
    color: #2D2D2D;
}

.menu a {
    color: #2D2D2D;
}

.menu-2 a {
    color: #2D2D2D;
}
  

.header__list {
    display: flex;
    align-items: center;
}
  
.logo {   
    padding-left: 30px;
}

.search {
    padding-left: 86px;
}

.search-1 {
    position: absolute;
    left: 59.2%;
    right: 33.91%;
    top: 3.6%;
}

.header__wrapper {
    max-width: 1170px;
    margin:0 auto; 
}



.header__text:hover{
    text-decoration: underline;
    text-underline-offset: 25px;
}


.search-input {
    border: none;
    border-bottom: 1px solid #6F6F6F;
    outline: none;
    padding: 5px 0;
    font-size: 16px;
    width: 200px;
}

  .search-input::placeholder {
    color: #6F6F6F;
    opacity: 0.6;
    padding-left: 27px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}
  
  
  .search-input::placeholder {
    color: #6F6F6F;
    opacity: 0.6;
}

.icons {
    padding-left: 74px;
}

.ico:nth-child(2) {
    margin-left: 25px;
}

.ico:nth-child(3) {
    margin-left: 25px;
}

.text {
    display: flex;
    padding-left: 71%;
    padding-top: 241px;
}

.loves {
    padding-left: 66%;
    padding-top: 25px;
}

.love {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 63px;
    color: #fff;
}

.summer {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25px;
    color: #fff;
}

.you {
    padding: 0 65px;
}

.catalogs {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 19px 68px;
}

.cato {
    color: #2D2D2D;
}

.about {
    padding-top: -7%;
}

.catalog-product {
    padding-left: 69%;
    padding-top: 10px;
}



.dropdown-overlay {
    display: none;
    padding-top: 85px;
    
}

.dropdown-text {
    display: inline-block;
}

.dropdown-text-2 {
    display: inline-block;
    padding-left: 130px;
}

.drowdown-girl {
    position: absolute;
    width: 523px;
    height: 694px;
    left: 950px;
    top: 200px;

}

.dropdown-overlay {
    
    background: white;
    width: 100%;
    height: 100%;
    padding-bottom: 40%;
    
}

.drowdown-girl {
    width: 500px;
    height: 600px;
}

.dropdown-textes {
    margin-bottom: 15px;
}

.dropdown-textes {
    display: flex;
    color: #2D2D2D;
    font-weight: 400;
    font-size: 16px;
}

.dropdown-overlay.open {
    overflow: hidden;
}



[class*="__container"]{
    max-width: 1170px;
    margin:0 auto;
    padding-top: 50px;
}

body{
    font-family: 'Montserrat';
}
.personal__where {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
    margin-bottom: 10px;
}
.personal__main {
    color:#C4C4C4;
}
.personal__lk {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
    margin-bottom: 30px;
}
.personal__logout {
    margin: 0 130px 80px 0;
    width: 570px;
    height: 452px;
}
.personal__input{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.9%;
    color: #C4C4C4;
    padding-bottom: 11px;
    border-bottom: 1px solid #DADADA;
}
.personal__data-logo {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
}
.personal__evidence {
    display:grid;
    gap:20px;
    width: 570px;
}
.personal__save {
    width: 270px;
    height: 56px;
    border: 1px solid #CECECE;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
}
.personal__save:hover{
    background-color: #6e6e6e;
    opacity: 0.6;
}
.personal__save:active{
    background-color: #333333;
    opacity: 0.8;
}
.personal__account{
    display:inline-flex;
}
.personal__info {
    gap:20px;
}
.personal__main-info {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
}
.personal__order {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: rgba(111, 111, 111, 0.62);
    margin-bottom: 20px;
}
.personal__exit {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: rgba(111, 111, 111, 0.62);
}
.personal__new {
    margin-bottom: 80px;
}
.personal__new-logo {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
}
.personal__password {
}
.personal__new-password {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.9%;
    color: #C4C4C4;
    margin-bottom: 40px;  
    border-bottom: 1px solid #DADADA;
    padding-bottom: 11px;
    width: 564px;
}
.personal__save-password {
    border: 1px solid #CECECE;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
    width: 270px;
    height: 56px;
}
.personal__save-password:hover{
    background-color: #6e6e6e;
    opacity: 0.6;
}
.personal__save-password:active{
    background-color: #333333;
    opacity: 0.8;
}
.personal__notifications {
    margin-bottom: 100px;
}

.personal__order-button{
    margin-bottom: 20px;
}
.personal__main-button{
    margin-bottom: 20px;
}


.personal__notifications-logo {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
    margin-bottom: 34px;
}
.personal__agreement {
    display: flex;
}
.personal__checkbox {
    margin-right: 11.23px;
}
.personal__checkbox-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 107.61%;
    color: #2D2D2D;
}

.footer {
    
    padding-top: 5%;
}

.items-2 {
    border-top: 1px solid #C4C4C4;
    width: 100%;
    padding-bottom: 5%;
}

.footer-text {
    margin: 6px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Montserrat';
}

.footer-text-1 {
    font-weight: 500;
    font-size: 18px;
    margin: 27px;
    color: #2D2D2D;
    
}

.item {
    padding-top: -10%;
}

.footer-text {
    padding-left: 19px;
    color: #2D2D2D;
}

.footer-text:hover {
    
    color: #C4C4C4;
}

.nav__list-footer {
    display: inline-block;
    padding-left: 150px;
    padding-top: -20px;
    
}

.nav__list-footer-2 {
    display: inline-block;
    padding-left: 150px;
    padding-top: 15px;
    
}

.nav__list-footer-3 {
    display: inline-block;
    padding-left: 150px;
    
}

.poli {
    text-align: center;
    padding-top: 140px;
    font-weight: 400;
    font-size: 14px;
    color: #CECECE;
}

.nav__list-footer > li > a {
    color: #2D2D2D;
}
