[class*="__container"]{
    max-width: 1170px;
    margin:0 auto;
}
body{
    font-family: 'Montserrat';
}
.nav__list {
    display: flex;
    margin-right: 44px;
    text-align: center;
    column-gap: 44px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}

.nav__list > li > a {
    color: #2D2D2D;
}

.menu a {
    color: #2D2D2D;
}

.menu-2 a {
    color: #2D2D2D;
}
  

.header__list {
    display: flex;
    align-items: center;
}
  
.logo {   
    padding-left: 30px;
}

.search {
    padding-left: 70px;
}

.search-1 {
    position: absolute;
    left: 59.2%;
    right: 33.91%;
    top: 3.6%;
}





.search-input {
    
    border: none;
    border-bottom: 1px solid #6F6F6F;
    outline: none;
    padding: 5px 0;
    font-size: 16px;
    width: 200px;
}

  .search-input::placeholder {
    color: #6F6F6F;
    opacity: 0.6;
    padding-left: 27px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}
  
  
  .search-input::placeholder {
    color: #6F6F6F;
    opacity: 0.6;
}

.icons {
    padding-left: 74px;
}

.ico:nth-child(2) {
    margin-left: 25px;
}

.ico:nth-child(3) {
    margin-left: 25px;
}

.text {
    display: flex;
    padding-left: 71%;
    padding-top: 241px;
}

.loves {
    padding-left: 66%;
    padding-top: 25px;
}

.love {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 63px;
    color: #fff;
}

.summer {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25px;
    color: #fff;
}

.you {
    padding: 0 65px;
}

.catalogs {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 19px 68px;
}

.cato {
    color: #2D2D2D;
}

.about {
    padding-top: -7%;
}

.catalog-product {
    padding-left: 69%;
    padding-top: 10px;
}

.header__wrapper {
    max-width: 1170px;
    margin:0 auto;
    
}

.dropdown-overlay {
    display: none;
    padding-top: 85px;
    
}

.dropdown-text {
    display: inline-block;
}

.dropdown-text-2 {
    display: inline-block;
    padding-left: 130px;
}

.drowdown-girl {
    position: absolute;
    width: 523px;
    height: 694px;
    left: 950px;
    top: 90px;


}

.dropdown-overlay {
    background: white;
    width: 100%;
    height: 100%;
    padding-bottom: 40%;
    
}

.drowdown-girl {
    width: 500px;
    height: 600px;
}

.dropdown-textes {
    margin-bottom: 15px;
}

.dropdown-textes {
    display: flex;
    color: #2D2D2D;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Montserrat';
}

.dropdown-overlay.open {
    overflow: hidden;
}
.header__text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 230%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
}
.info__text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 113.9%;
    color: #2D2D2D;
}
.info__overalls {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 113.9%;
    color: #C4C4C4;
    margin-left:4px;
}  
.info{
    margin-bottom: 30px;
}
.info__info{
    display:flex;
}
.buy__photo{
    display:flex;
    margin-right: 76px;
}
.buy__buttons{
    max-width: 70px;
    max-height: 97px;
}
.buy__button{
    margin-bottom:10px;
}
.buy__button:last-child{
    margin-bottom:0;
}
.buy__main-photo{
    margin-left: 10px;
    width: 590px;
    height: 762px;
}
.img-1{
    text-align: right;
    background-image: url("../img/IMG_4770big.png");
}
.buy{
    margin-bottom: 120px;
}
.buy__link {
    padding:16px 25px;
}
.buy__arrow-left {
    float:left;
    margin:325px 0 240px 23px;
}
.buy__arrow-right {
    float:right;
    margin:325px 23px 240px 0;
}
.buy__info {
    display:flex;
}
.buy__logo {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
    margin-bottom: 4px;
}
.buy__price {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 113.9%;
    color: #2D2D2D;
    margin-bottom: 20px;
}
.buy__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2D2D2D;
    margin-bottom: 40px;
}
.buy__colors {
    margin-bottom: 20px;
}
.buy__color-info {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.9%;
    color: #2D2D2D;
    margin-bottom: 10px;
    gap:4px;
}
.buy__red {  
    width: 39px;
    height: 55px;
    background: #C21414;
    border: 1.5px solid #2D2D2D;
}
.buy__white {
    width: 39px;
    height: 55px;
    background: #CEB9AD;
}
.buy__black {
    width: 39px;
    height: 55px;
    background: #2D2D2D;
}
.buy__size {
    width: 370px;
    height: 56px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.9%;
    color: #2D2D2D;
    border: 1px solid #CECECE;
    margin-bottom: 10px;
}
.buy__buy {
    width: 370px;
    height: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.9%;
    color: #FFFFFF;
    background: #2D2D2D;
    margin-bottom: 30px;
}
.buy__delivery {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.9%;
    color: #2D2D2D;
    margin-bottom: 42px;
}
.buy__compound {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.9%;
    color: #2D2D2D;
}
.buy__care {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 113.9%;
    color: #2D2D2D;
}
.buy__code{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.9%;
    color: #DADADA;
    margin-bottom: 26px;
}
.buy__table{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.9%;
    text-decoration-line: underline;
    color: #CECECE;
    margin-bottom: 40px;
}
.buy__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.9%;
    color: #2D2D2D;
    margin-bottom: 25px;
}
.buy__description::after{
    content: "+";
    margin-left:207px;
}
.buy__composition {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.9%;
    color: #2D2D2D;
}
.buy__composition::after{
    content: "+";
    margin-left:240px;
}
.buy__button_image{
    margin:5px 0 0 24px;
}
.collection{
    margin-bottom: 120px;
}

.collection__logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
}

.collection__group-1 {
    display:flex;
}
.collection__card {
    margin:30px 15px 20px 15px;
}
.collection__card:first-child{
    margin:30px 15px 20px 0;
}
.collection__image {
    width:270px;
    height: 353px;
}
.collection__link {
    padding:17px 15px 0 0; 
    float: right
}
.collection__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.9%;
    color: #2D2D2D;
    margin:20px 0 8px 0;
}
.collection__price {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 113.9%;
    color: #2D2D2D;
}
.image-1{
    background-image: url("../img/IMG_4811.png");
}
.image-2{
    background-image: url("../img/IMG_8180.png");
}
.image-3{
    background-image: url("../img/IMG_4801.png");
}

.like__logo {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
    margin-top:120px;
}
.like__cards {
}
.like__group-1 {
    display:flex;
}
.like__card {
    margin:30px 15px 20px 15px;
}
.like__card:first-child{
    margin:30px 15px 20px 0;
}
.like__image {
    width:270px;
    height: 353px;
}
.image_1 {
    background-image: url("../img/IMG_4951.png");
}
.like__link {
    padding:17px 15px 0 0; 
    float: right
}
.like__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.9%;
    color: #2D2D2D;
    margin:20px 0 8px 0;
}
.like__price {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 113.9%;
    color: #2D2D2D;
}
.image_2 {
    background-image: url("../img/IMG_4811.png");
}
.image_3 {
    background-image: url("../img/IMG_8180.png");
}
.image_4 {
    background-image: url("../img/IMG_4801.png");
}

.footer {
    
    padding-top: 5%;
}

.items-2 {
    border-top: 1px solid #C4C4C4;
    width: 100%;
    padding-bottom: 5%;
}

.footer-text {
    margin: 6px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Montserrat';
}

.footer-text-1 {
    font-weight: 500;
    font-size: 18px;
    margin: 27px;
    color: #2D2D2D;
    
}

.item {
    padding-top: -10%;
}

.footer-text {
    padding-left: 19px;
    color: #2D2D2D;
}

.footer-text:hover {
    
    color: #C4C4C4;
}

.nav__list-footer {
    display: inline-block;
    padding-left: 150px;
    padding-top: -20px;
    
}

.nav__list-footer-2 {
    display: inline-block;
    padding-left: 150px;
    padding-top: 15px;
    
}

.nav__list-footer-3 {
    display: inline-block;
    padding-left: 150px;
    
}

.poli {
    text-align: center;
    padding-top: 140px;
    font-weight: 400;
    font-size: 14px;
    color: #CECECE;
}

.nav__list-footer > li > a {
    color: #2D2D2D;
}