.nav__list {
    display: flex;
    margin-right: 44px;
    text-align: center;
    column-gap: 44px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}

.nav__list > li > a {
    color: #2D2D2D;
}

.menu a {
    color: #2D2D2D;
}

.menu-2 a {
    color: #2D2D2D;
}
  

.header__list {
    display: flex;
    align-items: center;
}
  
.logo {   
    padding-left: 30px;
}

.search {
    padding-left: 86px;
}

.search-1 {
    position: absolute;
    left: 59.2%;
    right: 33.91%;
    top: 3.6%;
}

.header__wrapper {
    max-width: 1170px;
    margin-bottom:65px ; 
}



.header__text:hover{
    text-decoration: underline;
    text-underline-offset: 25px;
}


.search-input {
    border: none;
    border-bottom: 1px solid #6F6F6F;
    outline: none;
    padding: 5px 0;
    font-size: 16px;
    width: 200px;
}

  .search-input::placeholder {
    color: #6F6F6F;
    opacity: 0.6;
    padding-left: 27px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}
  
  
  .search-input::placeholder {
    color: #6F6F6F;
    opacity: 0.6;
}

.icons {
    padding-left: 74px;
}

.ico:nth-child(2) {
    margin-left: 25px;
}

.ico:nth-child(3) {
    margin-left: 25px;
}

.text {
    display: flex;
    padding-left: 71%;
    padding-top: 241px;
}

.loves {
    padding-left: 66%;
    padding-top: 25px;
}

.love {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 63px;
    color: #fff;
}

.summer {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25px;
    color: #fff;
}

.you {
    padding: 0 65px;
}

.catalogs {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 19px 68px;
}

.cato {
    color: #2D2D2D;
}

.about {
    padding-top: -7%;
}

.catalog-product {
    padding-left: 69%;
    padding-top: 10px;
}



.dropdown-overlay {
    display: none;
    padding-top: 85px;
    transition: max-height 0.3s ease-out;     
}

.dropdown-content {
    padding: 20px;
}

.dropdown-overlay.active {
    max-height: 500px;
}

.dropdown-text {
    display: inline-block;
}

.dropdown-text-2 {
    display: inline-block;
    padding-left: 130px;
}

.drowdown-girl {
    position: absolute;
    width: 523px;
    height: 694px;
    left: 950px;
    top: 200px;

}

.dropdown-overlay {
    
    background: white;
    width: 100%;
    height: 100%;
    padding-bottom: 40%;
    
}

.drowdown-girl {
    width: 500px;
    height: 600px;
}

.dropdown-textes {
    margin-bottom: 15px;
}

.dropdown-textes {
    display: flex;
    color: #2D2D2D;
    font-weight: 400;
    font-size: 16px;
}

.dropdown-overlay.open {
    overflow: hidden;
}


[class*="__container"]{
    max-width: 1170px;
    margin:0 auto;
}
body{
    font-family: 'Montserrat';
}
.where {
    margin-top: 100px;
    margin-bottom: 10px;
}
.where__logo {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
}
.connect {
    margin-bottom: 100px;
}
.connect__body {
    height: 851px;
    width: 1170px;
    display:flex;
}
.connect__text {
    margin-right: 30px;
    width: 470px;
    height: 436px;
}
.connect__logo {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
    margin-bottom: 50px;
}
.connect__phone {
    margin-bottom: 40px;
}
.connect__phone-logo {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
}
.connect__number {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2D2D2D;
}
.connect__mail {
    margin-bottom: 40px;
}
.connect__mail-logo {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
}
.connect__email {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2D2D2D;
}
.connect__address {
    margin-bottom: 80px;
}
.connect__address-logo {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #2D2D2D;
}
.connect__address-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2D2D2D;
}
.connect__idea-text {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #2D2D2D;
}
.connect__inlet {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.9%;
    color: black;
    width: 443px;
    padding-bottom: 11px;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 40px;
}
.connect__contact{
    margin-bottom: 60px;
}
.connect__inlet-idea{
    width: 443px;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 11px;
    color: black;
    margin-bottom: 32px;
}
.connect__necessarily{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.9%;
    color: #C4C4C4;
    margin-bottom: 10px;
}
.connect__warning {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 107.61%;
    color: #6F6F6F;
    margin-bottom: 20px;
}
.connect__underlining {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 107.61%;
    color: #6F6F6F;
    margin-bottom: 20px;
    border-bottom: 1px solid #6F6F6F;
}
.connect__image {
    width: 670px;
    height: 851px;
}
.connect__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.9%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2D2D2D;
    width: 370px;
    height: 56px;
}
.connect__button:hover{
    background: #FFFFFF;
    color: #2D2D2D;
    border: 1px solid #2D2D2D;
}
.connect__button:active{
    background: silver;
    color: #2D2D2D;
    border: 1px solid #2D2D2D;
}
.connect__inlet::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.9%;
    color: #C4C4C4;
}
.connect__inlet-idea::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.9%;
    color: #C4C4C4;
}
.footer{
    padding-top: 5%;
}

.items-2 {
    border-top: 1px solid #C4C4C4;
    width: 100%;
    padding-bottom: 5%;
}

.footer-text {
    margin: 6px;
    font-weight: 400;
    font-size: 16px;
}

.footer-text-1 {
    font-weight: 500;
    font-size: 18px;
    margin: 27px;
    color: #2D2D2D;
    
}

.item {
    padding-top: -10%;
}

.footer-text {
    padding-left: 19px;
    color: #2D2D2D;
}

.footer-text:hover {
    
    color: #C4C4C4;
}

.nav__list-footer {
    display: inline-block;
    padding-left: 150px;
    padding-top: -20px;
    
}

.nav__list-footer-2 {
    display: inline-block;
    padding-left: 150px;
    padding-top: 15px;
    
}

.nav__list-footer-3 {
    display: inline-block;
    padding-left: 150px;
    
}

.poli {
    text-align: center;
    padding-top: 140px;
    font-weight: 400;
    font-size: 14px;
    color: #CECECE;
}

.nav__list-footer > li > a {
    color: #2D2D2D;
}